# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/data/*
.idea/

# All generated images
*.png

# wandb related directory
wandb/

# testing files
test_scripts/
testmlp.py
test_wandb.py

# sweep configs
configs/sweep_configs/
configs/tests/
# slurm directory
slurm/
data/
cifar10/
poisoned_cifar10_test
poisoned_cifar10_test_p
poisoned_cifar10_train
metrics.csv
weights.npy